.mytimes-show-wrapper
  .mytimes-show-wrapper__header
    .show-margin
    .header-title
      勤怠確認
    = form_with(url: mytime_path(current_user.id), method: :get, local: true, class: "date-form-area") do |f|
      .header-form
        .header-form__name
          = current_user.name
        .header-form__date
          .select-box
            = select_tag 'date[year]', options_for_select([Time.current.year, ago_year(1), ago_year(2), ago_year(3), ago_year(4), ago_year(5), ago_year(6), ago_year(7), ago_year(8), ago_year(9)], selected: @year)
            .icon-chevron-down
              = fa_icon("chevron-down") 
            .select-box-character
              年
          .select-box
            = select_tag 'date[month]', options_for_select(["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"], selected: @month)
            .icon-chevron-down
              = fa_icon("chevron-down") 
            .select-box-character
              月
          .date-send-btn
            = f.submit "確認", class: "send-btn"


  .mytimes-show-wrapper__contents
    .mytimes-show-wrapper__contents__table
      %table
        %tr
          %th 日付
          %th 勤務
          %th 出勤時間
          %th 退勤時間
          %th 勤務時間

        - @attendances.each do |attendance|
          -if attendance[0] == "holiday"
            %tr
              %td= set_date(attendance[1])
              %td 休
              %td
              %td
              %td
          -else
            %tr
              %td= set_date(attendance.going_to_work)
              %td
              %td= set_time(attendance.going_to_work)
              %td= set_time(attendance.leave_work)
              %td= set_working_hours(attendance.going_to_work, attendance.leave_work)

