.mytimes-show-wrapper
  = render 'layouts/common_header'

  .mytimes-show-wrapper__header
    .show-margin
    .header-title
      勤怠確認
    = form_with(url: mytime_path(current_user.id), method: :get, local: true, class: "date-form-area") do |f|
      .header-form
        .header-form__name
          = current_user.name
        .header-form__date
          = render 'mytimes/header_form_date_contents'
          .date-send-btn
            = f.submit "確認", class: "send-btn"


  .mytimes-show-wrapper__contents
    .mytimes-show-wrapper__contents__table.mytimes-show-wrapper__contents__table__add-class
      %table
        = render 'mytimes/tr_title'
        - @attendances.each do |attendance|
          -if attendance[0] == "holiday"
            %tr
              %td= set_date(attendance[1])
              %td 休
              %td
              %td
              %td
          -else
            %tr
              %td= set_date(attendance.going_to_work)
              %td
              %td= set_time(attendance.going_to_work)
              %td= set_time(attendance.leave_work)
              %td= set_working_hours(attendance.going_to_work, attendance.leave_work)

