.users-wrapper
  .users-wrapper__header
    .users-wrapper__header__title
      = link_to root_path, class: "link-root" do
        %h1 Time-Card

  .users-wrapper__contents
    .users-wrapper__contents__form
      .login-form
        .login-form__margin
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "login-form__form-area", placeholder: "メールアドレス"
          = f.password_field :password, autocomplete: "current-password", class: "login-form__form-area", placeholder: "パスワード"
          = f.submit "Log in", class: "login-form__send-btn"

      .sign-up
        .sign-up__description
          アカウントをお持ちでない方はこちら
        .sign-up__link-btn
          = link_to new_user_registration_path, class: "sign-up-btn" do
            新規登録
