.users-wrapper
  .users-wrapper__header
    .users-wrapper__header__title
      = link_to root_path, class: "link-root" do
        %h1 Time-Card

  .users-wrapper__contents
    .users-wrapper__contents__btns
      = link_to mytimes_path, class: "home-btns-layout" do
        自分の勤怠確認
      - if current_user.position.admin?
        = link_to fix_time_index_path, class: "home-btns-layout" do
          勤怠確認と修正
      = link_to emboss_index_path, class: "home-btns-layout" do
        勤怠打刻
      = link_to destroy_user_session_path, method: :delete, class: "home-btns-layout log-out-btn" do
        ログアウト